<main class="ExportContentArea">
      <h1 class="userTitle">{{ username || 'Guest Data' }}</h1> 
      <div *ngFor="let summary of categorySummaries">
            <h3>{{ summary.name }}</h3>
            <label>Your Spending Total: {{ summary.actual}}</label><br>
            <label>Ideal Spending Total: {{ summary.ideal}}</label><br>
            <label>Percent Off From Ideal: {{ summary.percentDiff }}</label>
      </div>
      <div class="PieArea">
            <div class="IndividualPie">
                  <h2>Ideal Spending</h2>
                  <canvas *ngIf="isBrowser" baseChart 
                        class="IdealPie"
                        [data]="idealChartData"
                        [type]="'pie'">
                  </canvas>   
            </div>
            <div class="Gap"></div>
            <div class="IndividualPie">
                  <h2>Actual Spending</h2>
                  <canvas *ngIf="isBrowser" baseChart 
                        class="ActualPie"
                        [data]="actualChartData"
                        [type]="'pie'">
                  </canvas>
            </div>
      </div>
</main>