<div class="NavigationBar">
  <div class="Nav-Left">
    <h1 class="Brand-Name">BudgetBuddy</h1>
  </div>
  <div class="Nav-Center">
    <span class="CompanySlogan">Your Money-Making Future Starts Today!</span>
  </div>
  <div class="Nav-Right">
    <a *ngIf="currentRoute !== '/signUpUser'" routerLink="/signUpUser" class="ImageLink">
      <div class="SignImage">
        <span class="LinkText">Sign Up</span>
      </div>
    </a>
    <a *ngIf="currentRoute !== '/loginUser'" routerLink="/loginUser" class="ImageLink">
      <div class="LoginImage">
        <span class="LinkText">Login</span>
      </div>
    </a>
     <a *ngIf="currentRoute !== '/aboutUs'" routerLink="/aboutUs" class="ImageLink">
      <div class="AboutUsImage">
        <span class="LinkText">About Us</span>
      </div>
    </a>
    <a *ngIf="currentRoute !== '/home'" routerLink="/" class="ImageLink">
      <div class="BackHomeImage">
        <span class="LinkText">Home</span>
      </div>
    </a>
  </div>
</div>