html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: silver;
  font-family: "Sansation", sans-serif;
  overflow: hidden;
}

:host {
  display: block;
  height: 100%;
  background-color: silver;
}