# Documentation
HELP.md

# Build output directories
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Eclipse / Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Compiled and packaged files
*.class
*.jar
*.war
*.ear


mikebudgetapp/src/main/resources/Oracle_JDK-24/
**/SecurityConfig.java
**/Oracle_JDK*/
**/application.properties