@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

main {
    background-color: silver;
    height: 100%;
    overflow: hidden;
}

h1, p {
    color: rgb(11, 11, 62);
    font-family: "Sansation", sans-serif; 
}

.NavigationBar {
    background-color: rgb(11, 11, 62);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 20px;
}

.Nav-Left {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 10px; 
}

.Nav-Center {
    flex-grow: 1;
    max-width: 600px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompanySlogan {
    color: silver;
    font-family: "Sansation", sans-serif;
}

.Nav-Right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.Brand-Name {
    color: silver;
    font-size: 32px;
    margin: 0;
}

.link {
    color: silver;
}

.ImageLink {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.SignImage {
    background-image: url("../../../../public/SignIn.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    width: 75px;
    position: relative;
    border-radius: 50%;
}

.LoginImage {
    background-image: url("../../../../public/Login.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    width: 75px;
    position: relative;
    border-radius: 50%;
}

.AboutUsImage {
    background-image: url("../../../../public/favicon.ico");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    width: 75px;
    position: relative;
    border-radius: 50%;
}

.LinkText {
    position: absolute;
    color: silver;
    font-size: 12px;
    font-family: "Sansation", sans-serif;
    text-align: center;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.HeadsUp {
    color: rgb(11, 11, 62);
    font-family: "Sansation", sans-serif;
    text-align: center;
    margin: 12px 0;
}

.HomeContentArea {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 20px;
}

.ContentArea {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center;
    gap: 50px; 
    margin-top: 8px;
    width: 100%;
}

.Description {
    flex: 1; 
    margin-top: -35px;
    color: rgb(11, 11, 62);
    font-family: "Sansation", sans-serif;
    text-align: center;
    align-items: center;
}

.VisionText {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.VisionText h5 {
    margin-top: 8px; 
}

.VisionText p {
    max-width: 500px;       
    margin: 0 auto 12px auto; 
    line-height: 1.5;
    text-align: center;     
}

.Slogan {
    line-height: 1.6;
    text-align: center;
    margin: 0 auto 20px auto;
}

.SloganList {
    max-width: 400px;
    margin: 0 auto 12px auto;
    padding-left: 20px;
    text-align: left;
}

.SloganList li {
    margin-bottom: 12px; 
    line-height: 1.5;
}

.BudgetLogo {
    width: 300px;
    height: 300px;
    background-image: url("../../../../public/BudgetLogo3.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 150px;
    margin-left: 200px;
}

.Gap {
    width: 40px;
    height: 1px; 
}

.Footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: rgb(11, 11, 62);
    font-family: "Sansation", sans-serif;
    text-align: center;
}

.Jump-Start {
    font-family: "Sansation", sans-serif;
    border-radius: 10px;
    color: rgb(11, 11, 62);
    background-color: silver;
    cursor: pointer;
}
