@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

main {
    background-color: silver;
    height: 100%;
}

h1, p, .HeadsUp, .Description, .Footer, .Jump-Start {
    color: rgb(11, 11, 62);
    font-family: "Sansation", sans-serif;
}

.HeadsUp {
    text-align: center;
    margin: 12px 0;
}

.HomeContentArea {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 20px;
}

.ContentArea {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center;
    gap: 50px; 
    margin-top: 8px;
    width: 100%;
}

.Description {
    flex: 1; 
    margin-top: -35px;
    text-align: center;
    align-items: center;
}

.VisionText {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.VisionText h5 {
    margin-top: 8px; 
}

.VisionText p, .Slogan {
    max-width: 500px;       
    margin: 0 auto 12px auto; 
    line-height: 1.5;
    text-align: center;     
}

.Slogan {
    margin-bottom: 20px;
    line-height: 1.6;
}

.SloganList {
    max-width: 400px;
    margin: 0 auto 12px auto;
    padding-left: 20px;
    text-align: left;
}

.SloganList li {
    margin-bottom: 12px; 
    line-height: 1.5;
}

.BudgetLogo {
    width: 300px;
    height: 300px;
    background-image: url("../../../../public/BudgetLogo3.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 150px;
    margin-left: 200px;
}

.Gap {
    width: 40px;
    height: 1px; 
}

.Footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Jump-Start {
    border-radius: 10px;
    background-color: silver;
    cursor: pointer;
}
